/* ================================= 
  Content
==================================== */

.bird {
	float: left;
	width: 40%;
	height: auto;
	margin: 5px;
}

.lightbox {
	display: none;
}

.featherlight .featherlight-content {
	padding: 0;
	border-bottom: 0;
}

.header {
	height: 150px;
}

#blog-preview-img {
	width: 300px;
}

.col-centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.col {
	flex-grow: 0;
}

.blog-title {
	text-align: center;
	font-size: 1.25em;
	margin: 0;
}

.blog-date {
	font-size: 1em;
	font-style: italic;
	text-align: center;
}

.blog-row {
	margin-bottom: 30px;
}

.container{
	padding-bottom: 30px;
}

/* ================================= 
  Body
==================================== */

body {
	background-color: #FFFFFF;
}

h1 {
	text-align: center;
	margin: 0;
}

#update-form {
	margin: auto;
}

#laura-pic {
	width: 50%;
}

.col-6 img{
	max-width: 100%;
	height: auto;
}
.soc-icon {
	width: 65px;
	height: auto;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
}
.footer-soc {
	display: flex;
	justify-content: center;
	align-items: center;
}
/* ================================= 
  Main-navigation, Secondary-navigation and Search Bar
==================================== */

#logo {
	display: inline;
	width: 25%;
	padding: 2em 0 1em 0;
	float: left;
}

#main-nav,
#sec-nav {
	display: inline;
	padding-top: 60px;
}

#main-nav ul,
#sec-nav ul,
#social-footer ul {
	list-style-image: none;
	padding-top: 1em;
	width: 60%;
	list-style-type: none;
	padding-left: 0;
	display: inline;
}

#main-nav {
	float: left;
	margin: auto;
}

#sec-nav {
	float: right;
	margin: auto;
}

#main-nav li,
#sec-nav li,
#social-footer li {
	display: inline;
	padding: 0px 10px 0px 10px;
}

#main-nav a,
#sec-nav a,
#social-footer a {
	text-decoration: none;
	color: black;
}

#main-nav a:hover,
#sec-nav a:hover,
#social-footer a:hover {
	color: darkgray;
}

#searchbar {
	float: right;
	text-decoration: none;
	padding-top: 50px;
	display: inline;
}

hr {
	display: block;
	width: 70%;
}

/* ================================= 
  Footer
==================================== */

#social-footer {
	position: fixed;
	padding-top: .2em;
	display: inline;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: rgba(153, 185, 208, 0.9)
}

.accordion {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.5s;
	border-bottom: 1px solid #000000;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */

.active,
.accordion:hover {
	background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
	margin-left: 30px;
}

/* ================================= 
  Media Queries
==================================== */

.navbar-mobile {
	display: none;
}
@media screen and (max-width: 600px) {
	.navbar-desktop{
		display: none;
	}
	#logo-mobile {
		display: inline;
		width: 100%;
		padding: 0 .5em 0 .5em;
	}
	.navbar-mobile{
		display: block;
		padding-bottom: 1em;
	}
  }